# 4. Uso de cadenas

Aunque las cadenas en Python parecen ser sencillas, hay cierta complejidad en las reglas de las cadenas que es importante comprender. El conocimiento de las reglas ayuda a evitar que le sorprenda el comportamiento de las cadenas al modificar valores o dar formato al texto.

### 4.1. Inmutabilidad de las cadenas
En Python, las cadenas son inmutables. Es decir, no pueden cambiar. Esta propiedad del tipo de cadena puede ser sorprendente, ya que Python no proporciona errores al modificar cadenas.

En el ejemplo de este módulo, tiene un único hecho sobre la Luna que está asignado a una variable y debe agregarle otro hecho (una oración). Parece que agregar el segundo hecho podría modificar la variable, tal como en el ejemplo siguiente:

In [ ]:
fact = "The Moon has no atmosphere."
fact + " No sound can be heard on the Moon."

'The Moon has no atmosphere. No sound can be heard on the Moon.'

Aunque podría parecer que se ha modificado la variable `fact`, una comprobación rápida del valor revela que el valor original no ha cambiado:

In [ ]:
fact

'The Moon has no atmosphere.'

Aquí el truco es que se debe usar un valor devuelto. Al agregar cadenas, Python no modifica ninguna, sino que devuelve una cadena nueva como resultado. Para mantener este resultado nuevo, asígnelo a una nueva variable:

In [ ]:
two_facts = fact + "No sound can be heard on the Moon."
two_facts

'The Moon has no atmosphere.No sound can be heard on the Moon.'

Las operaciones en las cadenas siempre generan cadenas nuevas como resultado.

## 4.2. Uso de comillas
Puede incluir las cadenas de Python entre comillas simples, dobles o triples. Aunque se pueden usar indistintamente, es mejor utilizar un tipo de forma coherente dentro de un proyecto. Por ejemplo, en la cadena siguiente se usan comillas dobles:

In [ ]:
moon_radius = "The Moon has a radius of 1,080 miles"

Pero cuando una cadena contiene palabras, números o caracteres especiales (una subcadena) que también se incluyen entre comillas, debe usar otro estilo. Por ejemplo, si en una subcadena se usan comillas dobles, incluya toda la cadena entre comillas simples, como se muestra aquí:

In [ ]:
'The "near side" is the part of the Moon that faces the Earth'

'The "near side" is the part of the Moon that faces the Earth'

Del mismo modo, si en alguna parte de la cadena hay comillas simples (o un apóstrofo, como en Moon's en el ejemplo siguiente), incluya toda la cadena entre comillas dobles:

In [ ]:
"We only see about 60% of the Moon's surface"

"We only see about 60% of the Moon's surface"

Si no se alternan las comillas simples y dobles, el intérprete de Python puede generar un error de sintaxis, como se muestra aquí:

In [ ]:
'We only see about 60% of the Moon's surface'

SyntaxError: ignored

Cuando el texto tiene una combinación de comillas simples y dobles, puede usar comillas triples para evitar problemas con el intérprete:

In [ ]:
"""We only see about 60% of the Moon's surface, this is known as the "near side"."""

'We only see about 60% of the Moon\'s surface, this is known as the "near side".'

### 4.2.1. Texto multilínea
Hay diferentes maneras de definir varias líneas de texto como una sola variable. Las más comunes son las siguientes:

* Usar un carácter de nueva línea (`\n`).
* Usar comillas triples (`"""`).

Los caracteres de nueva línea separan el texto en varias líneas al imprimir la salida:

In [ ]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

Puede lograr el mismo resultado con las comillas triples:

In [ ]:
multiline = """Facts about the Moon:
...  There is no atmosphere.
...  There is no sound."""
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

## 4.3. Métodos de cadena en Python

Los métodos de cadena son uno de los tipos de método más comunes en Python. A menudo tendrá que manipular cadenas para extraer información o ajustarse a un formato concreto. Python incluye varios métodos de cadena diseñados para realizar las transformaciones más comunes y útiles.

Los métodos de cadena forman parte del tipo `str`. Esto significa que los métodos existen como variables de cadena o directamente como parte de la cadena. Por ejemplo, el método `.title()` se puede usar directamente con una cadena:

In [ ]:
"temperatures and facts about the moon".title()

'Temperatures And Facts About The Moon'

Y el mismo comportamiento y utilización se produce en una variable:

In [ ]:
heading = "temperatures and facts about the moon"
heading.title()

'Temperatures And Facts About The Moon'

### 4.3.1. División de una cadena
Un método de cadena común es `.split()`. Sin argumentos, el método separará la cadena en cada espacio. Esto crearía una lista de todas las palabras o números separados por un espacio:

In [ ]:
temperatures = """Daylight: 260 F
... Nighttime: -280 F"""
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

En este ejemplo, trabaja con varias líneas, por lo que el carácter de nueva línea (implícito) se puede usar para dividir la cadena al final de cada línea, y crear líneas únicas:

In [ ]:
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

Este tipo de división resulta útil cuando se necesita un bucle para procesar o extraer información, o bien cuando se cargan datos desde un archivo de texto.

### 4.3.2. Búsqueda de una cadena
Algunos métodos de cadena pueden buscar contenido antes del procesamiento, sin necesidad de usar un bucle. Imagine que tiene dos oraciones que analizan las temperaturas de varios planetas y lunas, pero solo le interesan las temperaturas relacionadas con la Luna. Es decir, si las oraciones no se refieren a la Luna, no se deben procesar para extraer información.

La manera más sencilla de detectar si existe una palabra, un carácter o un grupo de caracteres determinados en una cadena es usar el operador `in`:

In [ ]:
"Moon" in "This text will describe facts and challenges with space travel"
fact = "This text will describe facts and challenges with space travel"
luna = "Moon"
luna in fact

False

In [ ]:
"Moon" in "This text will describe facts about the Moon"

True

Un enfoque para buscar la posición de una palabra específica en una cadena consiste en usar el método .`find()`:

In [ ]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""
temperatures.find("Moon")

-1

El método `.find()` devuelve -1 cuando no se encuentra la palabra, o bien devuelve el índice (el número que representa la posición en la cadena). Así es como se comportaría si busca la palabra Mars:

In [ ]:
temperatures.find("Mars")

64

65 es la posición donde "Mars" aparece en la cadena.

Otra manera de buscar contenido consiste en usar el método .count(), que devuelve el número total de repeticiones de una palabra determinada en una cadena:

In [ ]:
temperatures.lower().count("mars")

1

In [ ]:
temperatures.count("Moon")

0

Las cadenas en Python distinguen mayúsculas de minúsculas, lo que significa que Luna y luna se consideran palabras diferentes. Para realizar una comparación sin distinguir mayúsculas de minúsculas, puede convertir una cadena en letras minúsculas mediante el método `.lower()`:

In [ ]:
"The Moon And The Earth".lower()

'the moon and the earth'

Como sucede con el método `.lower()`, las cadenas tienen un método `.upper()` que hace lo contrario y convierte todos los caracteres en mayúsculas:

In [ ]:
"The Moon And The Earth".upper()

'THE MOON AND THE EARTH'

> **Sugerencia:** Al buscar y comprobar contenido, un enfoque más sólido consiste es convertir en minúsculas una cadena para que el uso de mayúsculas y minúsculas no impida una coincidencia. Por ejemplo, si va a contar el número de veces que aparece la palabra the, el método no contaría las veces en las que aparece The, aunque las dos sean la misma palabra. Puede usar el método .lower() para cambiar todos los caracteres a minúsculas.

### 4.3.3. Comprobación del contenido
Hay ocasiones en las que procesará texto para extraer información con una presentación irregular. Por ejemplo, la cadena siguiente es más fácil de procesar que un párrafo no estructurado:

In [ ]:
temperatures = "Mars Average Temperature: -60 C"

Para extraer la temperatura media en Marte, puede hacerlo con los métodos siguientes:

In [ ]:
parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60 C']

In [ ]:
parts[-1]

' -60 C'

El código anterior confía en que todo lo que hay después de los dos puntos (`:`) es una temperatura. La cadena se divide en `:`, lo que genera una lista de dos elementos. El uso de [-1] en la lista devuelve el último elemento que, en este ejemplo, es la temperatura.

Si el texto es irregular, no puede usar los mismos métodos de división para obtener el valor. Debe recorrer en bucle los elementos y comprobar si los valores son de un tipo determinado. Python tiene métodos que ayudan a comprobar el tipo de cadena:

In [ ]:
mars_temperature = "The highest temperature on Mars is about 30 C"
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

Como sucede con el método `.isnumeric()`, `.isdecimal()` puede buscar cadenas que parezcan decimales.

> **Importante:** Le sorprenderá saber que `"-70".isnumeric()` devolverá False. Esto se debe a que todos los caracteres de la cadena tendrían que ser numéricos y el guión (`-`) no lo es. Si tiene que comprobar números negativos en una cadena, el método `.isnumeric()` no funcionará.

Hay validaciones adicionales que puede aplicar en las cadenas para comprobar si hay valores. En el caso de los números negativos, el guion se agrega como prefijo al número y se puede detectar con el método `.startswith()`:

In [ ]:
"-60".startswith('-')

True

De forma similar, el método .endswith() ayuda a comprobar el último carácter de una cadena:

In [ ]:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

### 4.3.4. Transformar texto
Hay otros métodos que ayudan en situaciones en las que el texto se debe transformar en algo distinto. Hasta ahora, ha visto cadenas que pueden usar C para Celsius y F para Fahrenheit. Puede usar el método `.replace()` para buscar y reemplazar repeticiones de un carácter o grupo de caracteres:

In [ ]:
"Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.".replace("Celsius", "C")

'Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.'

Como se ha mencionado antes, .`lower()` es una buena manera de normalizar el texto para realizar una búsqueda sin distinguir mayúsculas de minúsculas. Ahora se comprobará rápidamente si algún texto analiza las temperaturas:

In [ ]:
text = "Temperatures on the Moon can vary wildly."
"temperatures" in text

False

In [ ]:
"temperatures" in text.lower()

True

Es posible que no tenga que realizar la comprobación sin distinguir mayúsculas de minúsculas todo el tiempo, pero convertir en minúsculas todas las letras es un buen enfoque cuando en el texto se usa una mezcla de mayúsculas y minúsculas.

Después de dividir el texto y realizar las transformaciones, es posible que tenga que volver a ensamblar todas las piezas. Al igual que el método `.split()` puede separar caracteres, el método `.join()` puede volver a agruparlos.

El método `.join()` necesita un elemento iterable (como una lista de Python) como argumento, por lo que su uso es diferente al de otros métodos de cadena:

In [ ]:
moon_facts = ["The Moon is drifting away from the Earth.", "On average, the Moon is moving about 4cm every year"]
'\n'.join(moon_facts)

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

## 4.4. Formato de cadenas
Además de transformar texto y realizar operaciones básicas, como buscar y buscar coincidencias, es esencial dar formato al texto al presentar información. La manera más sencilla de presentar información de texto con Python consiste en usar la función `print()`. Comprobará que es fundamental incluir información en variables y otras estructuras de datos en cadenas que `print()` pueda usar.

En esta unidad, aprenderá varias maneras válidas de incluir valores de variable en el texto mediante Python.

### 4.4.1. Formato de signo de porcentaje (%)
El marcador de posición de la variable de la cadena es `%s`. Después de la cadena, use otro carácter `%` seguido del nombre de la variable. En el ejemplo siguiente, se muestra cómo dar formato mediante el carácter `%`:

In [ ]:
mass_percentage = "1/6"
print("On the Moon, you would weigh about %s of your weight on Earth" % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth

El uso de varios valores cambia la sintaxis, ya que se necesitan paréntesis para rodear las variables que se pasan:

In [ ]:
print("""Both sides of the %s get the same amount of sunlight,
... but only one side is seen from %s because
... the %s rotates around its own axis when it orbits %s.""" % ("Moon", "Earth", "Moon", "Earth"))

Both sides of the Moon get the same amount of sunlight,
but only one side is seen from Earth because
the Moon rotates around its own axis when it orbits Earth.

> **Sugerencia:** Aunque este método sigue siendo una manera válida de dar formato a las cadenas, puede provocar errores y reducir la claridad del código cuando se trabaja con varias variables. Cualquiera de las otras dos opciones de formato descritas en esta unidad sería más adecuada para este propósito.

El método `format()`
El método `.format()` usa llaves (`{}`) como marcadores de posición dentro de una cadena y utiliza la asignación de variables para reemplazar texto.

In [ ]:
mass_percentage = "1/6"
print("On the Moon, you would weigh about {} of your weight on Earth".format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth

No es necesario asignar variables repetidas varias veces, lo que hace que sea menos detallado porque es necesario asignar menos variables:

In [ ]:
print("""You are lighter on the {0}, because on the {0}
... you would weigh about {1} of your weight on Earth""".format("Moon", mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

En lugar de llaves vacías, la sustitución consiste en usar números. `{0}` significa usar el primer argumento (índice cero) de `.format()`, que en este caso es Moon. `{0}` funciona bien para una repetición simple, pero reduce la legibilidad. Para mejorar la legibilidad, use argumentos de palabra clave en `.format()` y, después, haga referencia a los mismos argumentos entre llaves:

In [ ]:
print("""You are lighter on the {moon}, because on the {moon}
... you would weigh about {mass} of your weight on Earth""".format(moon="Moon", mass=mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

### 4.4.2. Las cadenas `f-strings`
A partir de la versión 3.6 de Python, es posible usar `f-strings`. Estas cadenas parecen plantillas y usan los nombres de variable del código. El uso de `f-strings` en el ejemplo anterior tendría el siguiente aspecto:

In [ ]:
print(f"On the Moon, you would weigh about {mass_percentage} of your weight on Earth")

On the Moon, you would weigh about 1/6 of your weight on Earth

Las variables se incluyen entre llaves y la cadena debe usar el prefijo `f`.

Además de que las `f-strings` son menos detalladas que cualquier otra opción de formato, es posible usar expresiones entre llaves. Estas expresiones pueden ser funciones u operaciones directas. Por ejemplo, si quiere representar el valor 1/6 como un porcentaje con una posición decimal, puede usar directamente la función `round()`:

In [ ]:
round(100/6, 2)

16.67

Con `f-strings`, no es necesario asignar un valor a una variable de antemano:

In [ ]:
print(f"On the Moon, you would weigh about {round(100/6, 2)}% of your weight on Earth")

On the Moon, you would weigh about 16.67% of your weight on Earth

Para usar una expresión no es necesaria una llamada de función. Cualquiera de los métodos de cadena también son válidos. Por ejemplo, la cadena podría aplicar un uso específico de mayúsculas y minúsculas para crear un título:

In [ ]:
subject = "interesting facts about the moon"
f"{subject.title()}"

'Interesting Facts About The Moon'

## 4.5. Ejercicios con cadenas

1. Pedir al usuario sus datos personales y generar su CURP.

2. Dado un número obtener una cadena que lo represente con palabras para llenar un cheque. Por ejemplo, el número `12535.23` tiene que generar la cadena `'DOCEMIL QUINIENTOS TREINTA Y CINCO 23/100 M.N'`.

### 4.5.1. De número a cadena

Dado un número entero positivo encontrar su representación en lenguaje natural en una cadena. Por ejemplo, dado el número `34215` regresar la cadena `"teinta y cuatro mil doscientos quince"`.

#### Empecemos por lo más fácil: un dígito

Supongamos que el número es de un solo dígito, es decir el número es menor que 10 (recordemos que es un entero positivo). La forma más sencilla sería tener los nombres de los digitos en una lista:

In [ ]:
unidades = ['cero', 'uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'nueve']

Entonces la primera versión sería:

In [ ]:
def numero_a_texto(numero):
    """Convierte un número a texto"""
    if numero < 10:
        return unidades[numero]
    else:
        return 'más de nueve'

numero_a_texto(5)

'cinco'

#### Ahora con 2 dígitos
Para números hasta `100` existen varias excepciones, particularmente entre `10` y `20`, podemos entonces dar el mismo tratamiento:

In [ ]:
decenas1 = ['diez', 'once', 'doce', 'trece', 'catorce', 'quince', 'dieciséis', 'diecisiete', 'dieciocho', 'diecinueve']

def numero_a_texto(numero):
    """Convierte un número a texto"""
    if numero < 10:
        return unidades[numero]
    elif numero < 20:
        return decenas1[numero - 10]
    else:
        return 'más de diecinueve'

numero_a_texto(15)

'quince'

> **Nota:** el número solo caerá en alguno de los casos (menos de 10, entre 10 y 19, y más de 19). Como lo que se ejecutará es un `return`, entonces la función regresará inmediatamente; por lo que `elif` y `else` salen sobrando. Por lo que el siguiente código es equivalente:

In [ ]:
def numero_a_texto(numero):
    """Convierte un número a texto"""
    if numero < 10:
        return unidades[numero]

    if numero < 20:
        return decenas1[numero - 10]

    return 'más de diecinueve'

numero_a_texto(15)

'quince'

El resto de números menores de 100 siguen el patrón `decena y unidad`, con excepción de los `20's`, cuyo patrón es `veintiunidad`. Así, necesitaremos los nombres de las decenas:

In [ ]:
decenas2 = ['veinte', 'treinta', 'cuarenta', 'cincuenta', 'sesenta', 'setenta', 'ochenta', 'noventa']

y agregamos esa parte a nuestra función:

In [ ]:
def numero_a_texto(numero):
    """Convierte un número a letras"""
    if numero < 10:                     # convierte un numero de 1 digito a cadena
        return unidades[numero]

    if numero < 20:                     # convierte a cadena entre 10 y 19
        return decenas1[numero - 10]

    if numero < 30:                     # convierte a cadena entre 20 y 29
        if numero % 10 == 0:            # convierte el número 20
            return 'veinte'
        else:                           # para numeros entre 21 y 29
            return 'veinti' + unidades[numero % 10]

    if numero < 100:                    # numeros de dos digitos mayores o iguales que 30
        if numero % 10 == 0:            # (no) tiene unidades ?
            return decenas2[numero // 10 - 2]
        else:
            return decenas2[numero // 10 - 2] + ' y ' + unidades[numero % 10]

    return 'más de noventa y nueve'

numero_a_texto(74)

'setenta y cuatro'

Recordemos que `//` es el cociente piso, mientras que `%` es el módulo o residuo. Al calcular `numero % 10`, determinamos si el número termina en cero; en tal caso, no se agrega el nombre de la unidad.

#### Tres dígitos, incluimos las centenas

Ahora para valores entre 100 y 999 (números de 3 dígitos) necesitamos el nombre de las centenas:

In [ ]:
centenas = ['ciento', 'doscientos', 'trescientos', 'cuatrocientos', 'quinientos', 'seiscientos', 'setecientos', 'ochocientos', 'novecientos']

Los números de 3 digitos siguen el siguiente patrón: `centena (número de 2 dígitos)`, con excepción del 100. Para calcular en texto del número de 2 digitos utilzamos la misma función que estamos construyendo, pero con la parte de 2 digitos que queremos calcular. Hacemos una llamada ***RECURSIVA***.

In [ ]:
def numero_a_texto(numero):
    """Convierte un número a letras"""
    if numero < 10:
        return unidades[numero]
    if numero < 20:
        return decenas1[numero - 10]
    if numero < 30:
        if numero % 10 == 0:
            return 'veinte'
        else:
            return 'veinti' + unidades[numero % 10]
    if numero < 100:
        if numero % 10 == 0:
            return decenas2[numero // 10 - 2]
        else:
            return decenas2[numero // 10 - 2] + ' y ' + unidades[numero % 10]


    if numero < 1000:
        if numero == 100:
            return 'cien'
        if numero % 100 == 0:
            return centenas[numero // 100 - 1]
        else:
            return centenas[numero // 100 - 1] + ' ' + numero_a_texto(numero % 100)

    return 'más de novecientos noventa y nueve'

numero_a_texto(723)

'setecientos veintitres'

#### Comenzamos con los patrones
Para números entre 1000 y 1 millón vamos a encontrar el siguiente patrón: `(número de tres dígitos) mil (número de tres dígitos)`. Con la excepción de los números entre 1000 y 1999 que deben comenzar con el texto `"un mil"` (el uso directo de esta función es el de generar cheques).

In [ ]:
def numero_a_texto(numero):
    """Convierte un número a letras"""
    if numero < 10:
        return unidades[numero]
    if numero < 20:
        return decenas1[numero - 10]
    if numero < 30:
        if numero % 10 == 0:
            return 'veinte'
        else:
            return 'veinti' + unidades[numero % 10]
    if numero < 100:
        if numero % 10 == 0:
            return decenas2[numero // 10 - 2]
        else:
            return decenas2[numero // 10 - 2] + ' y ' + unidades[numero % 10]
    if numero < 1000:
        if numero == 100:
            return 'cien'
        if numero % 100 == 0:
            return centenas[numero // 100 - 1]
        else:
            return centenas[numero // 100 - 1] + ' ' + numero_a_texto(numero % 100)



    if numero < 1000000:
        if numero == 1000:
            return 'un mil'
        if numero < 2000:
            return 'un mil ' + numero_a_texto(numero % 1000)
        if numero % 1000 == 0:
            return numero_a_texto(numero // 1000) + ' mil'
        else:
            return numero_a_texto(numero // 1000) + ' mil ' + numero_a_texto(numero % 1000)

    return 'más de un millón'

numero_a_texto(124234)

'ciento veinticuatro mil doscientos treinta y cuatro'

OK, y ahora que hacemos con los números mayores de 1, millón? Pues vamos a ver que sigue un patrón idéntico cuando los números crecen de millón en millón. De esta forma el número 1,245,345,865 tiene su representación como `"un mil doscientos cuarenta y cinco millones trescientos cuarenta y cinco mil ochocientos sesenta y cinco"`. Entonces encontramos que el patrón sería: `(número de 6 digitos) millones (numero de 6 dígitos)`. Con la excepción de que cuando el primer número de 6 dígitos es `"uno"`, entonces la palabra `"millones"` cambia al singular millón.

> **NOTA:** Recordemos que en español, 1000 millones es precisamente eso 1000 millones. A veces se confunde porque en el idioma inglés 1000 millones se traduce como 1 billon.

In [ ]:
def numero_a_texto(numero):
    """Convierte un número a letras"""
    if numero < 10:
        return unidades[numero]
    if numero < 20:
        return decenas1[numero - 10]
    if numero < 30:
        if numero % 10 == 0:
            return 'veinte'
        else:
            return 'veinti' + unidades[numero % 10]
    if numero < 100:
        if numero % 10 == 0:
            return decenas2[numero // 10 - 2]
        else:
            return decenas2[numero // 10 - 2] + ' y ' + unidades[numero % 10]
    if numero < 1000:
        if numero == 100:
            return 'cien'
        if numero % 100 == 0:
            return centenas[numero // 100 - 1]
        else:
            return centenas[numero // 100 - 1] + ' ' + numero_a_texto(numero % 100)
    if numero < 1000000:
        if numero == 1000:
            return 'un mil'
        if numero < 2000:
            return 'un mil ' + numero_a_texto(numero % 1000)
        if numero % 1000 == 0:
            return numero_a_texto(numero // 1000) + ' mil'
        else:
            return numero_a_texto(numero // 1000) + ' mil ' + numero_a_texto(numero % 1000)



    if numero < 1000000000000:
        if numero == 1000000:
            return 'un millón'
        if numero < 2000000:
            return 'un millón ' + numero_a_texto(numero % 1000000)
        if numero % 1000000 == 0:
            return numero_a_texto(numero // 1000000) + ' millones'
        else:
            return numero_a_texto(numero // 1000000) + ' millones ' + numero_a_texto(numero % 1000000)

    return 'más de un billón'

numero_a_texto(234000546)

'doscientos treinta y cuatro millones quinientos cuarenta y seis'

#### Generalización de los patrones

De aquí en adelante el patrón es similar de 6 dígitos en 6 dígitos:

```
(número de 6 dígitos) billones (número de 12 dígitos)
(número de 6 dígitos) trillones (número de 18 dígitos)
(número de 6 dígitos) cuatrillones (número de 24 dígitos)
etc.
```

con sus respectivas excepciones con el singular y el plural. Entonces, podemos generalizar. Primero, necesitamos los nombres de los cúmulos de 6 dígitos:

In [ ]:
singulares = ['un millón', 'un billón', 'un trillón', 'un cuatrillón', 'un quintillón']
plurales = ['millones', 'billones', 'trillones', 'cuatrillones', 'quintillones']

La generalización es más o menos como sigue: calculamos el número base a partir del cual es válida la regla, también calculamos el límite hasta donde es válida la misma regla. Vamos a utilizar un índice que va a recorrer los números de los nombres de los cúmulos que hemos definido, de tal forma que el índice es en realidad un exponente al cual vamos a elevar 1 millón para calcular la base (1 millón elevado al índice) y el límite (la base por 1 millón o  1 millón elevado al índice más 1). Con estos números, determinamos si la regla aplica al número actual. Si es así verificamos si es el caso de el valor singular, de lo contrario aplicamos la regla si es un valor plural

In [ ]:
def numero_a_texto(numero):
    """Convierte un número a letras"""
    if numero < 10:
        return unidades[numero]
    if numero < 20:
        return decenas1[numero - 10]
    if numero < 30:
        if numero % 10 == 0:
            return 'veinte'
        else:
            return 'veinti' + unidades[numero % 10]
    if numero < 100:
        if numero % 10 == 0:
            return decenas2[numero // 10 - 2]
        else:
            return decenas2[numero // 10 - 2] + ' y ' + unidades[numero % 10]
    if numero < 1000:
        if numero == 100:
            return 'cien'
        if numero % 100 == 0:
            return centenas[numero // 100 - 1]
        else:
            return centenas[numero // 100 - 1] + ' ' + numero_a_texto(numero % 100)
    if numero < 1000000:
        if numero == 1000:
            return 'un mil'
        if numero < 2000:
            return 'un mil ' + numero_a_texto(numero % 1000)
        if numero % 1000 == 0:
            return numero_a_texto(numero // 1000) + ' mil'
        else:
            return numero_a_texto(numero // 1000) + ' mil ' + numero_a_texto(numero % 1000)




    for i in range(0, len(singulares)):
        base = 1000000 ** (i + 1)
        limite = base * 1000000
        if numero < limite:
            if numero == base:
                return singulares[i]
            if numero < 2 * base:
                return singulares[i] + ' ' + numero_a_texto(numero % base)

            if numero % base == 0:
                return numero_a_texto(numero // base) + ' ' + plurales[i]
            else:
                return numero_a_texto(numero // base) + ' ' + plurales[i] + ' ' + numero_a_texto(numero % base)

    return 'un número muuuuuuuy grande'


numero_a_texto(652003745534000546)

'seiscientos cincuenta y dos mil tres billones setecientos cuarenta y cinco mil quinientos treinta y cuatro millones quinientos cuarenta y seis'

#### Versión final

Poniendo todo junto tenemos:

In [2]:
unidades = ['cero', 'uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'nueve']
decenas1 = ['diez', 'once', 'doce', 'trece', 'catorce', 'quince', 'dieciséis', 'diecisiete', 'dieciocho', 'diecinueve']
decenas2 = ['veinte', 'treinta', 'cuarenta', 'cincuenta', 'sesenta', 'setenta', 'ochenta', 'noventa']
centenas = ['ciento', 'doscientos', 'trescientos', 'cuatrocientos', 'quinientos', 'seiscientos', 'setecientos', 'ochocientos', 'novecientos']
singulares = ['un millón', 'un billón', 'un trillón', 'un cuatrillón', 'un quintillón']
plurales = ['millones', 'billones', 'trillones', 'cuatrillones', 'quintillones']


def numero_a_texto(numero):
    """
    Convierte un número a letras
    """
    # los dígitos
    if numero < 10:
        return unidades[numero]
    # los números entre 10 y 19
    if numero < 20:
        return decenas1[numero - 10]
    # los números entre 20 y 29
    if numero < 30:
        if numero % 10 == 0:
            return 'veinte'
        else:
            return 'veinti' + unidades[numero % 10]
    # los números entre 30 y 99
    if numero < 100:
        if numero % 10 == 0:
            return decenas2[numero // 10 - 2]
        else:
            return decenas2[numero // 10 - 2] + ' y ' + unidades[numero % 10]
    # los números entre 100 y 999
    if numero < 1000:
        if numero == 100:
            return 'cien'
        if numero % 100 == 0:
            return centenas[numero // 100 - 1]
        else:
            return centenas[numero // 100 - 1] + ' ' + numero_a_texto(numero % 100)
    # los números entre 1000 y 999999
    if numero < 1000000:
        if numero == 1000:
            return 'un mil'
        if numero < 2000:
            return 'un mil ' + numero_a_texto(numero % 1000)
        if numero % 1000 == 0:
            return numero_a_texto(numero // 1000) + ' mil'
        else:
            return numero_a_texto(numero // 1000) + ' mil ' + numero_a_texto(numero % 1000)
    # los números mayores de 999999
    for i in range(0, len(singulares)):
        base = 1000000 ** (i + 1)
        limite = base * 1000000
        if numero < limite:
            if numero == base:
                return singulares[i]
            if numero < 2 * base:
                return singulares[i] + ' ' + numero_a_texto(numero % base)

            if numero % base == 0:
                return numero_a_texto(numero // base) + ' ' + plurales[i]
            else:
                return numero_a_texto(numero // base) + ' ' + plurales[i] + ' ' + numero_a_texto(numero % base)

    return 'un número muuuuuuuy grande'

numero_a_texto(234234234)

'doscientos treinta y cuatro millones doscientos treinta y cuatro mil doscientos treinta y cuatro'

### 4.5.2. CURP

Para generar la CURP (Clave Única de Registro de Población) debemos saber cómo es que está formada:

```
QUTR 75 05 08 H DF NLL XX
                       __ > digitos únicos (2)
                   ___    > segundas consonantes de 1er ap, 2o ap y nombre (3)
                __        > entidad de nacimiento (2)
              _           > sexo
           __             > día de nacimiento (2)
        __                > mes de nacimiento (2)
     __                   > año de nacimiento (2)
____                      > Iniciales 1er ap (1a letra y siguiente vocal), 2o ap y nombre
    
```

#### Primer intento

In [ ]:
nombres = 'ROBERTO'
primer_apellido = 'ANGELES'
segundo_apellido = 'ROBLES'
anio_nacimiento = '1980'
mes_nacimiento = '01'
dia_nacimiento = '21'
sexo = 'H'
entidad = 'DF'

curp = primer_apellido[0:2] + segundo_apellido[0:1] + nombres[0:1] \
    + anio_nacimiento[2:4] + mes_nacimiento + dia_nacimiento \
    + sexo + entidad \
    + primer_apellido[2:3] + segundo_apellido[1:2] + nombres[1:2] + 'XX'

print('Tu CURP es: ' + curp)

Tu CURP es: ANRR800121HDFGOOXX

La CURP generada no es correcta. Se debe procesar de una mejor manera.

#### Segundo intento

> *Vini vi dividi e venci* - Julio César

Hay que separar las operaciones que debemos de realizar. En la definición de la CURP es necesario determinar la primera vocal de una palabra:

In [ ]:
def siguiente_vocal(palabra):
    """Busca la primera vocal de una palabra"""
    for letra in palabra:
        if letra in ['A', 'E', 'I', 'O', 'U']:
            return letra
    return 'X'

Así como la primera consonante:

In [ ]:
def siguiente_consonante(palabra):
    """Busca la primera consonante de una palabra"""
    for letra in palabra:
        if letra not in ['A', 'E', 'I', 'O', 'U']:
            return letra
    return 'X'

Ahora, para calcular la primera parte de la CURP podemos utilizar las funciones que acabamos de crear.

> **NOTA:** Debemos recordar que esta parte debe de ser validada para que no se generen palabras altisonantes, por ello debemos de tener una lista de esas palabras de cuatro caracteres que no debemos permitir. Si esta primera parte genera una de esas palabras se debe sustituir el último carácter por una X.

In [ ]:
def curp_parte_1(primer_apellido, segundo_apellido, nombres):
    """Calcula la primera parte de la CURP"""
    curp = primer_apellido[0:1] + siguiente_vocal(primer_apellido[1:]) + segundo_apellido[0:1] + nombres[0:1]
    return curp

La segunda parte de la CURP es un poco más fácil, ya que tenemos el año en cuatro dígitos, así como el mes y el día en dos dígitos.

In [ ]:
def curp_parte_2(anio_nacimiento, mes_nacimiento, dia_nacimiento):
    """Calcula la segunda parte de la CURP"""
    curp = anio_nacimiento[2:4] + mes_nacimiento + dia_nacimiento
    return curp

Las partes 3 y 4 están dadas directamente por la letra que define el sexo y por la clave de la entidad de nacimiento, respectivamente. Para calcular la quinta parte es necesario utilizar nuevamente las funciones auxiliares que definimos anteriormente.

In [ ]:
def curp_parte_5(primer_apellido, segundo_apellido, nombres):
    """Calcula la quinta parte de la CURP"""
    curp = siguiente_consonante(primer_apellido[2:]) + \
        siguiente_consonante(segundo_apellido[1:]) + \
        siguiente_consonante(nombres[1:])
    return curp

Ahora sí, estamos en condiciones de calcular una CURP correcta.

In [ ]:
def curp(nombres, primer_apellido, segundo_apellido, anio_nacimiento, \
    mes_nacimiento, dia_nacimiento, sexo, entidad):
    """Calcula la CURP"""
    curp = curp_parte_1(primer_apellido, segundo_apellido, nombres) + \
        curp_parte_2(anio_nacimiento, mes_nacimiento, dia_nacimiento) + \
        sexo + entidad + \
        curp_parte_5(primer_apellido, segundo_apellido, nombres) + 'XX'
    return curp

In [ ]:
curp('JUAN', 'PEREZ', 'GARCIA', '1980', '01', '01', 'H', 'DF')

'PEGJ800101HDFRRNXX'

Ahora bien, para hacerlo un poco más interactivo debemos de leer los datos que nos proporcione un usuario. Nuevamente separaremos en funciones cada parte que queremos leer. Normalmente esto va a ser necesario para poder validar los datos de entrada, es decir los datos que proporcione el usuario. Por ejemplo, necesitamos que la entidad de nacimiento se nos proporcione con dos letras, correspondientes a la clave de la entidad; sin embargo, no siempre se sabe cuál es la clave en cuestión, por eso es posible que sea necesario proporcionar al usuario la información para acceder a esa clase. Otro ejemplo es el de el año, debemos validar que sea un número entero, que sea de cuatro dígitos, y tal vez, que sea de este siglo o del anterior.

El primer dato para leer es el nombre, puede ser que tenga más de uno; En ese caso se toma el primer nombre, siempre y cuando este primer nombre no sea "Maria" o "José".

In [ ]:
def leer_nombres():
    """Lee los nombres"""
    print('¿Cuáles son tus nombres? (Mayúsculas y sin acentos)')
    nombres = input('>>>').upper()
    return nombres

Leer los apellidos no representa ningún problema, solamente los convertimos a mayúsculas.

In [ ]:
def leer_apellidos():
    """Lee los apellidos"""
    print('¿Cuáles son tus apellidos? (Mayúsculas y sin acentos)')
    primer_apellido = input('Primer apellido: ').upper()
    segundo_apellido = input('Segundo apellido: ').upper()
    return primer_apellido, segundo_apellido

Cómo se mencionó arriba, es necesario validar que el año de nacimiento sea correcto.

In [ ]:
def leer_anio_nacimiento():
    """Lee el año de nacimiento"""
    print('¿En qué año naciste? (4 dígitos)')
    anio_nacimiento = input('>>>')
    while not anio_nacimiento.isnumeric() or len(anio_nacimiento) != 4:
        anio_nacimiento = input('>>>')
    return anio_nacimiento

En el caso de los meses, tal vez no quisiéramos pedirle el mes de nacimiento como dos caracteres si no dar al usuario y la opción de elegir su mes de nacimiento a través de un menú.

In [ ]:
def leer_mes_nacimiento():
    """Lee el mes de nacimiento"""
    print('¿En qué mes naciste? (2 dígitos)')
    mes_nacimiento = input('>>>')
    while not mes_nacimiento.isnumeric() or len(mes_nacimiento) != 2:
        mes_nacimiento = input('>>>')
    return mes_nacimiento

En el caso del día, debemos validar que sea un número entero positivo, mayor que cero y menor que 32 en unos casos, menor que 31 en otros casos y menor que 30 o 29 en el caso del mes de febrero.

In [ ]:
def leer_dia_nacimiento():
    """Lee el día de nacimiento"""
    print('¿En qué día naciste? (2 dígitos)')
    dia_nacimiento = input('>>>')
    while not dia_nacimiento.isnumeric() or len(dia_nacimiento) != 2:
        dia_nacimiento = input('>>>')
    return dia_nacimiento

Leer exceso no representa ningún problema, aunque es posible no proporcionar un valor por cuestiones de diversidad. En tal caso, hay que regresar una "X".

In [ ]:
def leer_sexo():
    """Lee el sexo"""
    print('¿Cuál es tu sexo? (H/M)')
    sexo = input('>>>').upper()
    while sexo not in ['H', 'M']:
        sexo = input('>>>').upper()
    return sexo

Cómo se mencionó previamente, para obtener la entidad federativa se puede hacer a través de un menú.

In [ ]:
entidades = {'AG':'Aguascalientes',
             'BC':'Baja California',
             'BS':'Baja California Sur',
             'CC':'Campeche',
             'CL':'Coahuila',
             'CM':'Colima',
             'CS':'Chiapas',
             'CH':'Chihuahua',
             'DF':'Ciudad de México',
             'DG':'Durango',
             'GT':'Guanajuato',
             'GR':'Guerrero',
             'HG':'Hidalgo',
             'JC':'Jalisco',
             'MC':'México',
             'MN':'Michoacán',
             'MS':'Morelos',
             'NT':'Nayarit',
             'NL':'Nuevo León',
             'OC':'Oaxaca',
             'PL':'Puebla',
             'QT':'Querétaro',
             'QR':'Quintana Roo',
             'SP':'San Luis Potosí',
             'SL':'Sinaloa',
             'SR':'Sonora',
             'TC':'Tabasco',
             'TS':'Tamaulipas',
             'TL':'Tlaxcala',
             'VZ':'Veracruz',
             'YN':'Yucatán',
             'ZS':'Zacatecas'}

def leer_entidad():
    """Lee la entidad federativa de nacimiento"""
    print('¿En que entidad federativa naciste?\n(2 letras mayúsculas, \
    por ejemplo: DF; ? para ver la lista de entidades)')
    entidad = input('>>>').upper()
    while entidad not in entidades:
        if entidad == '?':
            for clave, valor in entidades.items():
                print(clave, ':', valor)
            print('')

        entidad = input('>>>').upper()
    return entidad

Finalmente, unificamos todos los llamados en una función que lee todos los datos necesarios para el cálculo de la CURP.

In [ ]:
def leer_datos():
    """Lee los datos del usuario"""
    nombres = leer_nombres()
    primer_apellido, segundo_apellido = leer_apellidos()
    anio_nacimiento = leer_anio_nacimiento()
    mes_nacimiento = leer_mes_nacimiento()
    dia_nacimiento = leer_dia_nacimiento()
    sexo = leer_sexo()
    entidad = leer_entidad()
    return nombres, primer_apellido, segundo_apellido, anio_nacimiento, \
        mes_nacimiento, dia_nacimiento, sexo, entidad

Recordemos, como se vio hace tiempo, qué se puede manejar el valor del retorno de una función como una tupla, es decir como una colección de valores. También vimos que las funciones pueden recibir precisamente una tupla, de esta forma realizamos el llamado para el cálculo de la CURP:

In [ ]:
curp(*leer_datos())

¿Cuáles son tus nombres? (Mayúsculas y sin acentos)
>>>rolando
¿Cuáles son tus apellidos? (Mayúsculas y sin acentos)
Primer apellido: quintero
Segundo apellido: tellez
¿En qué año naciste? (4 dígitos)
>>>19
>>>1975
¿En qué mes naciste? (2 dígitos)
>>>05
¿En qué día naciste? (2 dígitos)
>>>08
¿Cuál es tu sexo? (H/M)
>>>H
¿En que entidad federativa naciste?
(2 letras mayúsculas,     por ejemplo: DF; ? para ver la lista de entidades)
>>>?
AG : Aguascalientes
BC : Baja California
BS : Baja California Sur
CC : Campeche
CL : Coahuila
CM : Colima
CS : Chiapas
CH : Chihuahua
DF : Ciudad de México
DG : Durango
GT : Guanajuato
GR : Guerrero
HG : Hidalgo
JC : Jalisco
MC : México
MN : Michoacán
MS : Morelos
NT : Nayarit
NL : Nuevo León
OC : Oaxaca
PL : Puebla
QT : Querétaro
QR : Quintana Roo
SP : San Luis Potosí
SL : Sinaloa
SR : Sonora
TC : Tabasco
TS : Tamaulipas
TL : Tlaxcala
VZ : Veracruz
YN : Yucatán
ZS : Zacatecas

>>>DF

'QUTR750508HDFNLLXX'

#### Tarea
> Cómo tarea hay que hacer las adecuaciones que se mencionan en el texto para la validación de las entradas.